{% extends "base.html" %}
{% block content %}

<div class="container">
		<div class="card displayCard">
			<div class="container-fliud">
				<div class="wrapper row">
				    <div class="preview col-md-12">
<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>    
            <th>Product</th>    
            <th>Quantity</th>    
            <th>Price</th>
            <th>Total</th>    
        </tr>
    </thead>
    <br>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td><img width="150" height="150" src="{{MEDIA_URL}}{{item.image}}"/></td>    
            <td>{{ item.name }}</td>    
            <td>{{ item.quantity}}</td>    
            <td>€{{ item.price }}.00</td>
            <td>€{{ item.total}}.00</td> 
            <td><form action = "{% url 'delete_cart_item' item.product_id %}" method='post'>
							{% csrf_token %}
							<input class="btn btn-default delete_cart_item" type="submit" value="Delete"/></td>
        </tr>
        {% endfor %}


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>Total:</strong></td>
            <td><strong>€{{total}}</strong></td>
        </tr>
        <!--<tr>-->
        <!--    <td></td>-->
        <!--    <td></td>-->
        <!--    <td></td>-->
        <!--    <td><button type="button" class="continueShopping btn btn-default" onclick="location.href='{% url 'products' %}'">Continue Shopping</button></td>-->
        <!--    <td><a href="{% url 'checkout' %}" type="button" class="checkout btn btn-default" role="button">Checkout</a></td>-->
        <!--</tr>-->

    </tbody>
    
</table>

{% endblock %}