body {
    font-family: 'Work Sans', sans-serif;
    padding-top: 50px;
    background-color: white;
}


footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

p {
    font-size: 1.5rem;
}

.accountform {
    padding-top: 20px;
}

h1{
    color: #ec576b;
}

.navbar {
    background-image: none;
    background-color:  black;
    border-bottom-color: black;
    font-size: 2rem;
}

h4 {
    color: #4EC5C1;
}

p {
    font-size: 2rem;
}

.alert {
    background-color:#4EC5C1;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.navbar-brand {
    font-size: 3rem;
}

.btn-default {
    font-size: 1.5rem;
    background: #6EC1C8;
}

.btn-warning {
    background: #4EC5C1;
    border-color: #4EC5C1;
}

.card-block {
    text-align: center;
}

.card {
    padding: 20px 10px 20px 10px;
    padding-bottom: 40px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.50), 0 6px 60px 0 rgba(0, 0, 0, 0.50);
}

.cardPostPublish {
    font-size: 1.5rem;
}